assets/*
!assets/icon/
!assets/icon/**
paperPDFs/

.trash/
*.pdf
*.zip
*.tar
*.tar.gz
*.tgz
*.tar.zst
*.zst
*.xz
*.bz2
*.gz
*.DS_Store

# === Obsidian local runtime state ===
.obsidian/cache/
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspaces.json
.obsidian/.trash/
.obsidian/plugins/
.obsidian/snippets/
.obsidian/graph.json